# Environment variables
.env
.env.*
!.env.example

# Firebase credentials
.env.firebase
# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
# VS Code
.vscode/
# Others
.idea/
*.iml
# Node.js dependencies
node_modules/